#ajouterContent .container {
    background: linear-gradient(135deg, #ff6b6b, #4ca1af);
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#ajouterContent h1 {
    text-align: center;
    color: #fff;
}


#ajouterContent .form-control {
    background-color: rgba(255, 255, 255, 0.1); 
    color: #fff;
    border-color: #fff;
}


#ajouterContent .form-label {
    color: #fff;
}


#ajouterContent .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}


#ajouterContent .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}


#ajouterContent .checkbox label,
#ajouterContent .radio label {
    color: #fff;
}


#ajouterContent .alert {
    background-color: rgba(255, 0, 0, 0.7); 
    color: #fff;
    border: none;
}






/* Hetha css mta3 liste articles*/




.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    height: 450px;
}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 10px;
}

.card-footer {
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

#btn {
    margin-right: 10px;
}


#container {
    text-align: center;
}

.alert-danger {
    background-color: #dc3545; 
    color: #fff; 
    border: 1px solid #dc3545; 
    padding: 10px; 
    border-radius: 5px; 
}


.custom-pagination .pagination li:first-child,
.custom-pagination .pagination li:last-child {
    display: none;
}



/* Hetha css mta3 liste articles*/

